In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_table('water.txt')
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [3]:
from statsmodels.stats.weightstats import _tconfint_generic

# t-интервал

Вместо гипотетической теоретической дисперсии $\sigma^2$, которую мы на самом деле в данном случае не знаем, используем выборочные дисперсии, и построим доверительные интервалы вида $$\bar{X}_n \pm t_{1-\frac{\alpha}{2}} \frac{S}{\sqrt{n}}$$

In [12]:
data.shape[0]

61

In [16]:
import math

In [17]:
std_mean = data['mortality'].std(ddof=1) / math.sqrt(data.shape[0])
print(std_mean)

24.028521714278174

In [18]:
print ("sgd model mean auc 95%% confidence interval", _tconfint_generic(data['mortality'].mean(), std_mean,
                                                                       data.shape[0] - 1,
                                                                       0.05, 'two-sided'))

sgd model mean auc 95%% confidence interval (1476.0833413552848, 1572.2117406119285)

In [20]:
south_mean = data[data['location'] == 'South']['mortality'].mean()
south_std = data[data['location'] == 'South']['mortality'].std()/math.sqrt(data[data['location'] == 'South'].shape[0])

In [21]:
l = data[data['location'] == 'South'].shape[0]

In [22]:
print ("sgd model mean auc 95%% confidence interval", _tconfint_generic(south_mean, south_std,
                                                                       l - 1,
                                                                       0.05, 'two-sided'))

sgd model mean auc 95%% confidence interval (1320.1517462936238, 1433.463638321761)

In [23]:
north_mean = data[data['location'] == 'North']['mortality'].mean()
north_std = data[data['location'] == 'North']['mortality'].std()/math.sqrt(data[data['location'] == 'North'].shape[0])

In [24]:
l_n = data[data['location'] == 'North'].shape[0]

In [25]:
print ("sgd model mean auc 95%% confidence interval", _tconfint_generic(north_mean, north_std,
                                                                       l_n - 1,
                                                                       0.05, 'two-sided'))

sgd model mean auc 95%% confidence interval (1586.5605251961385, 1680.6394748038613)

In [27]:
north_hard_mean = data[data['location'] == 'North']['hardness'].mean()
north_hard_std = data[data['location'] == 'North']['hardness'].std()/math.sqrt(data[data['location'] == 'North'].shape[0])

south_hard_mean = data[data['location'] == 'South']['hardness'].mean()
south_hard_std = data[data['location'] == 'South']['hardness'].std()/math.sqrt(data[data['location'] == 'South'].shape[0])

In [28]:
print ("sgd model mean auc 95%% confidence interval", _tconfint_generic(north_hard_mean, north_hard_std,
                                                                       l_n - 1,
                                                                       0.05, 'two-sided'))
print ("sgd model mean auc 95%% confidence interval", _tconfint_generic(south_hard_mean, south_hard_std,
                                                                       l - 1,
                                                                       0.05, 'two-sided'))

sgd model mean auc 95%% confidence interval (21.422487285724259, 39.377512714275738)
sgd model mean auc 95%% confidence interval (53.467198692036106, 86.071262846425441)